<section class="vh-80 d-flex align-items-center bg-dark">
  <div class="container col-xxl-10 ">
    <div class="row flex-lg-row-reverse align-items-center flex-lg-nowrap">
      <!-- <div class="col offset-md-1">
        <iframe class="youtube-video" src=https://www.youtube.com/embed/7v5599Izexc title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div> -->
      <div class="col-lg-10 text-center mx-auto">
        <h1 class="fs-xl text-uppercase text-primary">sales training and recruitment</h1>
        <h1 class="display-1 fw-bold mb-3 pt-md-2 mt-xl-3 text-light">We partner with B2B companies to <span
            class="text-gradient-primary">transform your sales culture.</span></h1>
        <!-- <p class="lead">We partner with B2B companies to transform your sales culture.</p> -->
        <div class="">
          <a href="/contact" class="btn btn-primary btn-lg rounded-pill">Ready to win more sales?</a>
        </div>
      </div>
    </div>
  </div>
</section>