<!-- image-text -->
<section class="container py-5 my-2 my-md-4 my-lg-5">
  <!-- Row 1 -->
  <div class="row align-items-lg-center pb-5 mb-2 mb-lg-4 mb-xl-5">
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/jason-howes-2025.jpg" class="rounded-3" alt="Jason Howes" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/jason-howes-08507360/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/arrowexecsales/" class="btn btn-icon btn-secondary btn-instagram btn-sm bg-white">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="ps-xl-5 ms-md-2 ms-lg-4">
        <h2 class="h1 mb-0">Jason Howes</h2>
        <p class="fs-sm mb-3 mb-sm-4">Founder and Managing Director</p>
        <p>
          A trusted sales training expert with 30+ years’ experience, Jason has been instrumental in building high-performance sales teams for large B2B
          companies. His down-to-earth approach leaves no stone unturned to address every aspect of your sales team leading to exceptional outcomes.
        </p>
        <p>
          Putting integrity and honesty first, Jason develops a partnership for success, boosting your sales effectiveness using a tailored approach. Addressing
          the entire sales journey, he uses his expertise to Assess, Coach and Execute to raise the bar and ensure your sales team maximises its potential.
        </p>
        <p>
          Committed to incorporating the latest technology, Jason implements award-winning innovative sales and prospecting tools to take your sales to the next
          level.
        </p>
        <p>
          On a more personal note, Jason played Aussie rules as a lad and is a devoted Collingwood (Pies) supporter. He also played high-level competitive
          squash.
        </p>
        <p class="">
          His love for sport combined with a competitive nature has spurred him on to develop excellent leadership skills and an unstoppable drive to succeed.
        </p>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/jason-howes-08507360/" target="_blank" class="btn btn-icon btn-outline-secondary btn-linkedin me-3">
            <i class="bx bxl-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Row 2 PAM -->
  <div class="row align-items-lg-center pb-5 mb-2 mb-lg-4 mb-xl-5">
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/pam_foster.jpg" class="rounded-3" alt="Pam Foster" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/pam-foster/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">

      
      <div class="ps-xl-5 ms-md-2 ms-lg-4">
        <h2 class="h1 mb-0">Pam Foster</h2>
        <p class="fs-sm mb-3 mb-sm-4">Talent Acquisition</p>
        <p>
          Pam Foster is a Talent Scout who helps businesses grow by finding the right people. With over 15 years of experience, she’s all about solving recruitment challenges and crafting talent strategies that fit like a glove with each company’s culture and goals.
        </p>
        <p>
          Pam has teamed up with some of Australia’s biggest names and fastest-growing startups, including bp Australia, Dan Murphy's, Nimble, Nutrition Warehouse, Princess Polly, and Woolworths Limited. She’s not just filling roles—she’s diving deep into your business, getting to know your values, culture, and what makes you tick, so she can find candidates who are the perfect match for your team.

        </p>
        <p>
          But Pam doesn’t stop at recruitment. As a 6x award-winning Career Storyteller, she’s helped over 500 talented people elevate their careers through resume writing, personal branding, and career transition support. 

        </p>
        <p>
          Whether you’re building a high-performing team, tackling a tricky recruitment project, or crafting your own in-house strategy, Pam’s got you covered.

        </p>
        <p class="">
          When she’s not busy connecting people and businesses, Pam’s a proud mum of three, a fan of good food, great music, and never says no to a chilli margarita.
        </p>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/pam-foster/" target="_blank" class="btn btn-icon btn-outline-secondary btn-linkedin me-3">
            <i class="bx bxl-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Row 2 CHARLISE -->
  <div class="row align-items-lg-center pb-5 mb-2 mb-lg-4 mb-xl-5">
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/charlize-howes2.jpg" class="rounded-3" alt="Charlize Howes" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">

      
      <div class="ps-xl-5 ms-md-2 ms-lg-4">
        <h2 class="h1 mb-0">Charlize Howes</h2>
        <p class="fs-sm mb-3 mb-sm-4">Social Media Coordinator</p>
        <p>
          Charlize is the new Social Media Coordinator at Arrow Executive Sales, bringing creativity and strategy to our online presence. While studying a Diploma of Social Media Marketing, she is also responsible for managing social media platforms, developing targeted campaigns, and analysing performance metrics to enhance our brand visibility.  
        </p>
        <p>
          With a strong passion for all things Instagram and TikTok, Charlize stays ahead of trends and connects with our audiences to drive business growth. Her expertise in content creation and video editing supports Arrow Executive Sales and plays a key role in positioning Arrow Executive Sales as a leader in the industry. 

        </p>
        <p>
          In her free time, Charlize enjoys playing video games, posting videos to her TikTok account and enjoys a night in snuggling with her cats Blaze and Obi.
        </p>
      </div>
    </div>
  </div>



    <!-- Row 4 -->
    <div class="row align-items-lg-center pb-5 mb-2 mb-lg-4 mb-xl-5">
      <div class="col-md-5 mb-4 mb-md-0">
        <div class="card card-hover border-0 bg-transparent">
          <div class="position-relative">
            <img src="{{site.baseurl}}/assets/img/team/chris-howell.jpg" class="rounded-3" alt="Chris Howell" />
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="ps-xl-5 ms-md-2 ms-lg-4">
          <h2 class="h1 mb-0">Chris Howell</h2>
          <p class="fs-sm mb-3 mb-sm-4">CRM Automation Specialist</p>
          <p>
            With my experience in Marketing Technology, I can help businesses find leads, make sales, and nurture customer relationships by implementing innovative and efficient marketing automation solutions.
          </p>
          <p>
           I develop client relationships, ensuring that their specific needs are met to a high standard. My approach involves designing and building high-performance, reusable, and reliable integrations with marketing automation tools, such as Membrain CRM, to create seamless and effective workflows.
          <p>
            I use automation to provide businesses with significant benefits, including increased productivity, improved customer engagement, and enhanced sales. 
          </p>
        </div>
      </div>
    </div>

    

</section>
