<!-- Page title -->
<section class="position-relative d-flex align-items-center  py-5 overflow-hidden ">
  <div class="container">
    <div class="row pb-2 mb-md-2 mb-lg-4 mb-xl-5 align-items-center">
      <div class="col-md-5 d-flex flex-column mt-md-4 pt-5 pb-3 pb-sm-4 py-md-5">
        <h1 class="display-2  text-center text-md-start mb-4">We make finding top performers easy.</h1>
        <p class="fs-xl pb-2 mb-4 mb-xl-5 text-center text-md-start">We use data, award-winning software and expert
          sales knowledge to find salespeople in the <strong>top 30%</strong> who fit right into your team. With a
          <strong>6-month performance guarantee</strong> and industry-leading software, we make recruitment easy.
        </p>
        <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
          <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
            Get in Touch
            <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
          </a>
          <!-- <a href="#" class="btn btn-primary btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
            Get our limited-time offer
            <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
          </a> -->
        </div>
      </div>
      <!-- Cursor parallax -->
      <div class="col-md-7 d-none d-md-block order-md-2 mb-3 mb-sm-2 mb-md-0">
        <div class="parallax" style="max-width: 746px;">
          <div class="parallax-layer" data-depth="0.2">
            <img src="assets/img/recruit/sales-person_comp.jpg" alt="Circle">
          </div>
        </div>
      </div>
    </div>
</section>

<!-- About -->
<section class="container my-5 py-lg-5 py-md-4 py-5">
  <div class="row gy-4 py-xl-3">
    <div class="col-md-6">
      <img src="assets/img/recruit/omg-3.png" alt="Image" class="rounded-3">
    </div>
    <div class="col-lg-5 col-md-6 offset-lg-1 d-flex">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h2 class="h1 mb-lg-4 mb-3">We use data to find your next salesperson</h2>
        <p class="mb-4 pb-lg-3 fs-lg">Sometimes recruitment agencies approach the hiring process like it’s guesswork. We
          know it’s not, though. By finding the right data and using it in our recruitment process to understand the
          gaps in your team, we assess team members against global best practices. It’s how we remove the risk of a bad
          hire, saving you time, money, and headaches.</p>
        <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
          Get in Touch
          <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- We Use Science and Data -->
<section class="py-5">
  <div class="container">
    <div class="pb-5 pt-2 pt-sm-3 pt-lg-4 pt-xl-5">
      <h2 class="display-2 mb-lg-4 text-center">We use science and data to take the guesswork out of recruitment to gets
        you the results you want.</h2>
      <h2 class="lead mb-lg-4 text-center">We predict sales ability across 21 core competencies before you hire.</h2>
      <div class="swiper pb-sm-2 pb-md-4 pb-lg-5 mb-xxl-3 mx-n2" data-swiper-options='{
              "slidesPerView": 1,
              "pagination": {
                "el": ".swiper-pagination",
                "clickable": true
              },
              "breakpoints": {
                "500": {
                  "slidesPerView": 2,
                  "spaceBetween": 8
                },
                "650": {
                  "slidesPerView": 2,
                  "spaceBetween": 8
                },
                "900": {
                  "slidesPerView": 3,
                  "spaceBetween": 8
                },
                "1100": {
                  "slidesPerView": 4,
                  "spaceBetween": 8
                }
              }
            }'>
        <div class="swiper-wrapper">

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0  h-50 text-center p-3 mx-2">
              <div class="card-body">
                <img src="assets/img/recruit/hunting.svg" alt="hunting icon">
                <p class="h5 mb-0 pt-4">Hunting</p>
                <h3 class="h1 display-2 mb-1">54%</h3>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0 h-100 text-center p-3 mx-2">
              <div class="card-body">
                <img src="assets/img/recruit/consultative.svg" alt="consultative icon">
                <p class="h5 mb-0 pt-4">Consultative Selling</p>
                <h3 class="h1 display-2 mb-1">80%</h3>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0 h-100 text-center p-3 mx-2">
              <div class="card-body">
                <img src="assets/img/recruit/value.svg" alt="Value icon">
                <p class="h5 mb-0 pt-4">Selling Value</p>
                <h3 class="h1 display-2 mb-1">91%</h3>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0 h-100 text-center p-3 mx-2">
              <div class="card-body">
                <img src="assets/img/recruit/closing.svg" alt="Closing icon">
                <p class="h5 mb-0 pt-4">Closing</p>
                <h3 class="h1 display-2 mb-1">30%</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative pt-2 mt-4"></div>
      </div>
    </div>
  </div>
</section>
{% include feature-recruitment.html %}

<!-- Why Choose Us -->
<section class="bg-secondary pb-md-2 py-5">
  <div class="d-none d-lg-block" style="margin-top: -60px; padding-top: 60px;"></div>
  <div class="container pb-4 pt-5">
    <h2 class="h1 text-center text-md-start mb-lg-4 pt-1 pt-md-4">Why choose us to build your sales team?</h2>
    <div class="row row-cols-1 row-cols-md-2">

      <!-- Item 1-->
      <div class="col py-4 my-2 my-sm-3">
        <a href="services-single-v1.html"
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/icons/team-evaluate.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              A team of sales specialists
            </h2>
            <p class="fs-sm text-body mb-0">Our sales specialists have built and managed national sales teams for more
              than 30 years. We specialise in sales to find and hire you the best.</p>
          </div>
        </a>
      </div>

      <!-- Item 2-->
      <div class="col py-4 my-2 my-sm-3">
        <a href="services-single-v1.html"
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/icons/account.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Data-backed hiring process
            </h2>
            <p class="fs-sm text-body mb-0">We use data and science to find and evaluate your salespeople before you
              hire — not after, when it’s too late. It takes the guesswork out of the hiring process and helps us get
              the right people in the right jobs.</p>
          </div>
        </a>
      </div>

      <!-- Item 3-->
      <div class="col py-4 my-2 my-sm-3">
        <a href="services-single-v1.html"
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/icons/crm-a.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              48-hour turnaround on data
            </h2>
            <p class="fs-sm text-body mb-0">Our industry-leading software and our commitment to you means we can source
              data to answer your questions within 48 hours.</p>
          </div>
        </a>
      </div>

      <!-- Item 4-->
      <div class="col py-4 my-2 my-sm-3">
        <a href="services-single-v1.html"
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/icons/mindset.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              30+ years combined recruitment experience
            </h2>
            <p class="fs-sm text-body mb-0">We have over 30+ years of combined experience in sales, recruitment, and
              technology. You’ll get unparalleled expertise to support your hiring process.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="card justify-content-center bg-dark h-100 p-4 p-lg-5">
        <div class="p-2">
          <!-- <h3 class="display-4 text-primary mb-1">5 stars</h3> -->
          <h2 class="text-light pb-5 mb-2">Our clients rate us 5 stars. From 20+ Google Reviews. </h2>
          <a href="#" class="d-inline-flex align-items-center rounded-3 text-decoration-none py-3 px-4"
            style="background-color: #3e4265;">
            <div class="pe-3">
              <div class="fs-xs text-light text-uppercase opaciy-70 mb-2">Reviewed on</div>
              <img src="assets/img/recruit/Google-Reviews-transparent.png" width="97" alt="Google">
            </div>
            <div class="ps-1">
              <div class="text-nowrap mb-2">
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
              </div>
              <div class="text-light opacity-70">20+ reviews</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card border-0 shadow-sm p-4 p-xxl-5">
        <div class="d-flex justify-content-between pb-4 mb-2">
          <span class="btn btn-icon btn-primary btn-lg shadow-primary pe-none">
            <i class="bx bxs-quote-left"></i>
          </span>
          <div class="d-flex">
            <button type="button" id="testimonials-prev" class="btn btn-prev btn-icon btn-sm me-2"
              aria-label="Previous">
              <i class="bx bx-chevron-left"></i>
            </button>
            <button type="button" id="testimonials-next" class="btn btn-next btn-icon btn-sm ms-2" aria-label="Next">
              <i class="bx bx-chevron-right"></i>
            </button>
          </div>
        </div>

        <!-- Slider -->
        <div class="swiper mx-0 mb-md-n2 mb-xxl-n3" data-swiper-options='{
                "spaceBetween": 24,
                "loop": true,
                "pagination": {
                  "el": ".swiper-pagination",
                  "clickable": true
                },
                "navigation": {
                  "prevEl": "#testimonials-prev",
                  "nextEl": "#testimonials-next"
                }
              }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <figure class="card h-100 position-relative border-0 bg-transparent">
                <blockquote class="card-body p-0 mb-0">
                  <p class="fs-lg mb-0">Jason and the team at Arrow have been great to work with.
                    The entire recruiting process was effortless on our part with Arrow taking the lead and undertaking
                    invaluable analysis of all applicants as well as initial interviewing of candidates. I have no issue
                    recommend Arrow to any businesses seeking to offer further sales training or sales recruiting. Thank
                    you Jason and the Arrow team. </p>
                </blockquote>
                <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                  <div>
                    <h6 class="fw-semibold lh-base mb-0">Brendan Frost</h6>
                  </div>
                </figcaption>
              </figure>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <figure class="card h-100 position-relative border-0 bg-transparent">
                <blockquote class="card-body p-0 mb-0">
                  <p class="fs-lg mb-0">Jason Howes and his team at Arrow Executive Sales have been instrumental in
                    enabling our business in finding that “Special” individual within a tough competitive market. The
                    Bellevue Group commenced with Arrow for all sales recruitment requirements over 2 years ago, with
                    great success and outstanding results. </p>
                </blockquote>
                <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                  <div>
                    <h6 class="fw-semibold lh-base mb-0">Grant Brown</h6>
                    <span class="fs-sm text-muted">National Sales Manager – The Bellevue Group</span>
                  </div>
                </figcaption>
              </figure>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <figure class="card h-100 position-relative border-0 bg-transparent">
                <blockquote class="card-body p-0 mb-0">
                  <p class="fs-lg mb-0">We got in touch with Arrow after having a lot of trouble finding just the right
                    fit for our sales recruitment in our business. Jason was able to find our unicorn and deliver! We
                    were very happy with Jason's professionalism and all round service approach. </p>
                </blockquote>
                <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                  <div>
                    <h6 class="fw-semibold lh-base mb-0">Lisa Collins</h6>
                    <span class="fs-sm text-muted">Operations Manager - Playscape Creations</span>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative mt-5"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Getting started is easy (Steps) -->
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5 py-5">
  <h2 class="h1 pb-2 pb-md-0 mb-4 mb-md-5">Getting started is easy</h2>
  <div class="steps steps-sm steps-horizontal-md pb-2 pb-sm-3">
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Chat with us</h3>
        <p class="mb-0">Fill in the form and book your chat with our specialist team. We’ll learn more about your
          business, team and job market to build specific criteria for your role.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Streamlined hiring</h3>
        <p class="mb-0">Using that data and industry-leading software, we’ll shortlist, interview, and quality-check
          candidates to put forward to you.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Onboarding</h3>
        <p class="mb-0">Once we’ve hired the perfect candidate for your team, we can even onboard and train your new
          team member for you.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">It’s risk-free</h3>
        <p class="mb-0">We offer a 6-month performance guarantee. So, if your new team member isn’t working out, we’ll
          help make it right.</p>
      </div>
    </div>
  </div>
</section>

<!-- Creating high-performing sales teams across Australia -->
<section class="container my-5 py-lg-5 py-md-4 py-5">
  <div class="row gy-4 py-xl-3">
    <div class="col-md-5 order-md-2 offset-lg-1">
      <img style="max-width: 446px;" src="assets/img/recruit/high-performing-sales-teams.jpg" alt="Image"
        class="rounded-3 ">
    </div>
    <div class="col-lg-5 col-md-6 offset-lg-1 d-flex">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h2 class="h1 mb-lg-4 mb-3">Creating high-performing sales teams across Australia</h2>
        <p class="mb-4 pb-lg-3 fs-lg">We work with B2B companies all across Australia to transform your culture and
          build high-performing sales teams.</p>
        <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
          Get in Touch
          <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Video showreel -->
<section class="container text-center pb-5 mt-n2 mt-md-0 mb-md-2 mb-lg-4 py-5">
  <div class="position-relative rounded-3 overflow-hidden">
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
      <a href="https://www.youtube.com/embed/7v5599Izexc" class="btn btn-video btn-icon btn-xl stretched-link bg-white"
        data-bs-toggle="video" aria-label="Play video">
        <i class="bx bx-play"></i>
      </a>
    </div>
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-35"></span>
    <img src="assets/img/recruit/lp-video-thumbnail.jpg" class="d-block w-100" alt="Cover image">
  </div>
</section>

<!-- Benefits -->
<section class="py-5 bg-dark text-light">
  <div class="container pt-2 pt-sm-3 pt-md-4 pt-lg-5">
    <!-- <div class="row pt-xl-2 pt-xxl-4 pb-3 pb-sm-4 pb-md-5 mt-2">
      <div class="col-md-6 col-xl-5 col-xxl-4">
        <h2 class="h1">The right criteria to <span class="text-primary">build better sales teams</span></h2>
      </div>
      <div class="col-md-6 col-xl-5 offset-xl-2 offset-xxl-3">
        <ul class="list-unstyled">
          <li class="d-flex fs-xl pb-2 mb-1">
            <i class="bx bx-check-circle text-dark d-flex pe-1 me-2" style="margin-top: .375rem;"></i>
            The will to sell
          </li>
          <li class="d-flex fs-xl pb-2 mb-1">
            <i class="bx bx-check-circle text-dark d-flex pe-1 me-2" style="margin-top: .375rem;"></i>
            Consultative selling ability
          </li>
          <li class="d-flex fs-xl pb-2 mb-1">
            <i class="bx bx-check-circle text-dark d-flex pe-1 me-2" style="margin-top: .375rem;"></i>
            The will to hunt for leads
          </li>
          <li class="d-flex fs-xl pb-2 mb-1">
            <i class="bx bx-check-circle text-dark d-flex pe-1 me-2" style="margin-top: .375rem;"></i>
            The ability to sell value
          </li>
        </ul>
      </div>
    </div> -->


    <!-- predictive category -->
    <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
      <div class="col-10 col-sm-9 col-md-6 col-xl-7 d-flex justify-content-center order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
        <img src="assets/img/recruit/predictive-dark.svg" width="402" alt="predictive">
      </div>
      <div class="col-md-6 col-xl-5 order-md-1 text-center text-md-start">
        <h2 class="mb-lg-4 text-primary">We use predictive recommendations to place the right candidates</h2>
        <p class="fs-lg pb-4 mb-0">Our candidate assessment tool analyses the candidates available for your role. It
          then benchmarks them against the specific requirements of your role to predict whether they’ll be successful.
        </p>
        <a href="#" class="btn btn-outline-dark mt-1">
          Learn more
          <i class="bx bx-chevron-right fs-lg ms-2 me-n2"></i>
        </a>
      </div>
    </div>


    <!-- processes category -->
    <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
      <div class="col-10 col-sm-9 col-md-6 col-xl-7 pb-2 pb-md-0 mb-4 mb-md-0">
        <div
          class="col-10 col-sm-9 col-md-6 col-xl-7 d-flex justify-content-center order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
          <img src="assets/img/recruit/risk-free.svg" width="602" alt="risk-free icon">
        </div>
      </div>
      <div class="col-md-6 col-xl-5 text-center text-md-start">
        <h2 class="mb-lg-4 text-primary">Risk-free with our 6-month guarantee</h2>
        <p class="fs-lg pb-4 mb-0">We know finding and hiring salespeople is a stressful process — especially when
          you’re busy. </p>
        <p class="fs-lg pb-4 mb-0">We don’t just tick the industry experience box
          and hope they last. We hire against data-backed criteria.</p>
        <p class="fs-lg pb-4 mb-0">We offer you a 6-month guarantee on the team members we place for you.</p>
        <a href="#" class="btn btn-outline-dark mt-1">
          Learn more
          <i class="bx bx-chevron-right fs-lg ms-2 me-n2"></i>
        </a>
      </div>
    </div>


    <!-- BDM category -->
    <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
      <div class="col-10 col-sm-9 col-md-6 col-xl-7 d-flex justify-content-center order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
        <img src="assets/img/recruit/bdm.svg" width="402" alt="bdm icon">
      </div>
      <div class="col-md-6 col-xl-5 order-md-1 text-center text-md-start">
        <h2 class="mb-lg-4 text-primary">We’re specialists in BDM & sales management.</h2>
        <p class="fs-lg pb-4 mb-0">Business development management and sales management are 80% of our business. We’re
          experts in this space. Finding the right person to create and win new business is absolutely gold. We have the
          know-how to make it happen.
        </p>
        <a href="#" class="btn btn-outline-dark mt-1">
          Learn more
          <i class="bx bx-chevron-right fs-lg ms-2 me-n2"></i>
        </a>
      </div>
    </div>

    <!-- processes category -->
    <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
      <div class="col-10 col-sm-9 col-md-6 col-xl-7 pb-2 pb-md-0 mb-4 mb-md-0">
        <div
          class="col-10 col-sm-9 col-md-6 col-xl-7 d-flex justify-content-center order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
          <img src="assets/img/recruit/sales.svg" width="340" alt="sales icon">
        </div>
      </div>
      <div class="col-md-6 col-xl-5 text-center text-md-start">
        <h2 class="mb-lg-4 text-primary">We’re here to support HR, business leaders and sales managers</h2>
        <p class="fs-lg pb-4 mb-0">Our recruitment service isn’t a complete shake-up. We work closely with HR, business
          leaders and sales managers to find the gaps in your team and business and fill them. We’re here to meet your
          needs and we can help as little or as much as you like, or to fit your budget. We’ll even work with you to
          make sure your new sales professional is the best fit for your team.</p>
        <a href="#" class="btn btn-outline-dark mt-1">
          Learn more
          <i class="bx bx-chevron-right fs-lg ms-2 me-n2"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="bg-secondary rounded-3 py-5 px-3 px-sm-4 px-lg-0">
      <div class="row align-items-center pt-1 pb-2 py-lg-4">
        <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 mb-4 pb-3 mb-md-0 pb-md-0">
          <h2 class="h1 mb-lg-4">Speak with our Recruitment and Sales specialist team today</h2>
          <p class="pb-2 pb-md-4 pb-lg-5">Book your free assessment to start building your high-performing sales team.
            Fill in the form, and we’ll respond within one hour on business days.
          </p>

          <div class="d-flex">
            <a href="https://www.linkedin.com/in/jason-howes-08507360/" target="_blank"
              class="btn btn-icon btn-outline-secondary btn-linkedin me-3">
              <i class="bx bxl-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/arrowexecsales/" target="_blank"
              class="btn btn-icon btn-outline-secondary btn-instagram">
              <i class="bx bxl-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="card border-0 shadow-sm p-sm-2">
            <!-- Basic info -->
            <form class="card-body needs-validation border-bottom pb-3 pb-lg-4" novalidate name="contact" method="POST"
              data-netlify="true" action="/success">
              <div class="row pb-2">
                <div class="col-sm-6 mb-4">
                  <label for="fn" class="form-label fs-base">First name</label>
                  <input type="text" id="fn" class="form-control form-control-lg" required>
                  <div class="invalid-feedback">Please enter your first name!</div>
                </div>
                <div class="col-sm-6 mb-4">
                  <label for="sn" class="form-label fs-base">Surname</label>
                  <input type="text" id="sn" class="form-control form-control-lg" required>
                  <div class="invalid-feedback">Please enter your surname!</div>
                </div>
                <div class="col-sm-6 mb-4">
                  <label for="email" class="form-label fs-base">Email address</label>
                  <input type="email" id="email" class="form-control form-control-lg" required>
                  <div class="invalid-feedback">Please provide a valid email address!</div>
                </div>
                <div class="col-sm-6 mb-4">
                  <label for="phone" class="form-label fs-base">Phone</label>
                  <input type="text" id="phone" class="form-control form-control-lg" required>
                  <div class="invalid-feedback">Please provide a valid phone number!</div>
                </div>
                <div class="col-sm-6 mb-4">
                  <label for="company" class="form-label fs-base">Company</label>
                  <input type="text" id="company" class="form-control form-control-lg" required>
                  <div class="invalid-feedback">Please provide a company name!</div>
                </div>
                <div class="col-sm-6 mb-4">
                  <label for="title" class="form-label fs-base">Title</label>
                  <input type="text" id="title" class="form-control form-control-lg" required>
                  <div class="invalid-feedback">Please provide your title!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label class="form-label" for="salespeople">Number of salespeople</label>
                    <select class="form-select" id="salespeople" required="">
                      <option value="">Number of salespeople...</option>
                      <option value="1-5">1-5</option>
                      <option value="6-10">6-10</option>
                      <option value="11-15">11-15</option>
                      <option value="16-20">16-20</option>
                      <option value="21-30">21-30</option>
                      <option value="30+">30+</option>
                    </select>
                    <div class="invalid-tooltip">How many salespeople?.</div>
                    <div class="valid-tooltip">Looks good!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label class="form-label" for="timeframe">Timeframe</label>
                    <select class="form-select" id="timeframe" required="">
                      <option value="">Choose a timeframe...</option>
                      <option value="Within a month">Within a month</option>
                      <option value="1-3 months">1-3 months</option>
                      <option value="4-6 months">4-6 months</option>
                      <option value="6-12 months">6-12 months</option>
                      <option value="12 months or more">12 months or more</option>
                      <option value="No deadline">No deadline</option>
                    </select>
                    <div class="invalid-tooltip">Please provide a timeframe.</div>
                    <div class="valid-tooltip">Looks good!</div>
                </div>
                <div class="col-12 mb-4">
                  <label for="yourMessage" class="form-label fs-base">Message <small class="text-muted">(optional)</small></label>
                  <textarea id="yourMessage" class="form-control form-control-lg" rows="4"
                    placeholder="Tell us about how we can help you"></textarea>
                </div>
              </div>
              <div class="d-flex mb-3">
                <button type="submit" class="btn btn-primary shadow-primary btn-lg">Send request</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>