<!-- Partners -->
<section class="container pb-3 pb-lg-5 mb-3 pt-5 mt-5">
  <h2 class="text-center pb-md-2 mb-4">Our Trusted Partners</h2>
  <div class="row justify-content-center g-4">
    <!-- Item -->
    <div class="col-6 col-md-3">
      <div class="card card-body border-0 shadow-sm">
        <img src="{{site.baseurl}}/assets/img/partners/membrain.svg" class="d-block mx-auto my-2" width="254"
          alt="Membrain Logo" />
      </div>
    </div>

    <!-- Item -->
    <div class="col-6 col-md-3">
      <div class="card card-body border-0 shadow-sm">
        <img src="{{site.baseurl}}/assets/img/partners/omg.SVG" class="d-block mx-auto my-2" width="254"
          alt="OMG Logo" />
      </div>
    </div>

    <!-- Item -->
    <div class="col-6 col-md-3">
      <div class="card card-body border-0 shadow-sm">
        <img src="{{site.baseurl}}/assets/img/partners/tabma.SVG" class="d-block mx-auto my-2" width="254"
          alt="NTHA Logo" />
      </div>
    </div>

    <!-- Item -->
    <div class="col-6 col-md-3">
      <div class="card card-body border-0 shadow-sm">
        <img src="{{site.baseurl}}/assets/img/partners/HRIA.SVG" class="d-block mx-auto my-2" width="254"
          alt="HRIA Logo" />
      </div>
    </div>
  </div>
</section>