<!-- Testimonials -->
<section
  class="py-5 mb-md-2"
  style="background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 241, 201, 0.1) 0%, rgba(70, 239, 214, 0.05) 41.83%, rgba(241, 253, 253, 0.07) 82.52%)"
>
  <div class="container py-lg-4">
    <div class="row py-md-3">
      <div class="col-xl-3 col-lg-4 pt-2">
        <h2 class="h1 text-center text-lg-start pb-2">What People Say About Arrow Executive Sales</h2>

        <!-- Slider prev/next buttons -->
        <div class="d-flex justify-content-center justify-content-lg-start pt-lg-5">
          <button type="button" id="prev-review" class="btn btn-prev btn-icon btn-sm me-3">
            <i class="bx bx-chevron-left"></i>
          </button>
          <button type="button" id="next-review" class="btn btn-next btn-icon btn-sm">
            <i class="bx bx-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-8 offset-xl-1 pt-4 mt-2 mt-md-3 mt-lg-0 pt-lg-0">
        <div class="px-2 px-sm-0">
          <div
            class="swiper mx-n2"
            data-swiper-options='{
                  "slidesPerView": 1,
                  "spaceBetween": 8,
                  "navigation": {
                    "prevEl": "#prev-review",
                    "nextEl": "#next-review"
                  },
                  "loop": true,
                  "breakpoints": {
                    "600": { "slidesPerView": 2 }
                  }
                }'
          >
            <div class="swiper-wrapper">
              <!-- Item -->
              <div class="swiper-slide h-auto pt-4 pb-3 px-2">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        I couldn’t be more pleased by the personalised service and outcomes achieved by Jason at Arrow Executive Sales. I highly recommend Jason for his specialised recruitment services for high performance sales staff and I will continue to use his services for all of our future requirements.
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/d-davis.jpg" width="48" class="rounded-circle ms-n1" alt="Avatar" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Denis Davis </h6>
                        <span class="fs-sm text-muted">Davis Logistics</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Item -->
              <div class="swiper-slide h-auto pt-4 pb-3 px-2">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        There are very few professionals in this industry who bring competence to the table with a mix of a very positive attitude and an extremely friendly demeanour. Jason is certainly one of them. He is very organised and rational. From last-minute pointers to symposium. Jason remained active in my entire recruitment process right until the end and has continued to be in contact after placement.Highly recommended for any future collaboration!
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/j-horwarth.jpg" width="48" class="rounded-circle ms-n1" alt="Jason Howarth" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Jason Howarth</h6>
                        <span class="fs-sm text-muted">Sales Professional</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 px-2 pt-4">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        I have had the pleasure of knowing Jason Howes professionally for over 15 years, and his evolution as a professional recruiter and sales process expert has been nothing short of remarkable. Jason's extensive network and ever-expanding skill set have consistently impressed me. His keen understanding of the market, coupled with his ability to match the right talent with the right opportunities, sets him apart in the industry. Jason's dedication, strategic insight, and unwavering commitment to excellence make him an invaluable asset to any organisation. His personable nature and exceptional communication skills foster strong relationships, driving both individual and team success. 
                      </p>
                      <p class="fs-lg mb-0">
                        I wholeheartedly recommend Jason for his unparalleled expertise and unwavering professionalism.
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/n-ockley.jpg" width="48" class="rounded-circle ms-n1" alt="Neil Hockley " />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Neil Hockley </h6>
                        <span class="fs-sm text-muted">CEO Plumbers Supplies Co-op</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
