<!-- Page title -->
<section class="position-relative d-flex align-items-center  py-5 overflow-hidden ">
  <div class="container">
    <div class="row pb-2 mb-md-2 mb-lg-4 mb-xl-5 align-items-center">
      <div class="col-md-5 d-flex flex-column mt-md-4 pt-5 pb-3 pb-sm-4 py-md-5">
        <h1 class="display-2  text-center text-md-start mb-4">We evaluate your team, train & coach to close more
          sales.</h1>
        <p class="fs-xl pb-2 mb-4 mb-xl-5 text-center text-md-start">Is your sales team set up to reliably hit their
          <strong>budget?</strong> We give sales managers the data and the tools to get their teams motivated and moving
          with the right skills and techniques to drive revenue for your business.
        </p>
        <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
          <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
            Get in Touch
            <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
          </a>
          <!-- <a href="#" class="btn btn-primary btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
            Get our limited-time offer
            <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
          </a> -->
        </div>
      </div>
      <!-- Cursor parallax -->
      <div class="col-md-7 d-none d-md-block order-md-2 mb-3 mb-sm-2 mb-md-0">
        <div class="parallax" style="max-width: 746px;">
          <div class="parallax-layer" data-depth="0.2">
            <img src="/assets/img/training/training-hero.jpg" alt="Circle">
          </div>
        </div>
      </div>
    </div>
</section>


<!-- Why Choose Us -->
<section class="bg-secondary pb-md-2 py-5">
  <div class="d-none d-lg-block" style="margin-top: -60px; padding-top: 60px;"></div>
  <div class="container pb-4 pt-5">
    <h2 class="h1 text-center mb-lg-4 pt-1 pt-md-4">Why choose us to build your sales team?</h2>
    <div class="row row-cols-1 row-cols-md-2">

      <!-- Item 1-->
      <div class="col py-4 my-2 my-sm-3">
        <div
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="/assets/img/icons/team-evaluate.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              A team of sales specialists
            </h2>
            <p class="fs-sm text-body mb-0">Our team sells everyday. We know what makes sales professionals tick, and
              how to empower your team to sell more. We've build national sales teams and have experience managing over
              $100m budgets (per annum).</p>
          </div>
        </div>
      </div>

      <!-- Item 2-->
      <div class="col py-4 my-2 my-sm-3">
        <div
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="/assets/img/icons/account.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Data-backed evaluation process
            </h2>
            <p class="fs-sm text-body mb-0">Data reveals business truths. We use a specialist evaluation process that
              compares 2.8m + salespeople. This way, we can discover where your team’s performance can be improved and
              built upon.</p>
          </div>
        </div>
      </div>

      <!-- Item 3-->
      <div class="col py-4 my-2 my-sm-3">
        <div
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="/assets/img/icons/crm-a.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              48-hour turnaround on data
            </h2>
            <p class="fs-sm text-body mb-0">When we run our data analysis, we can return the data within 48 hours for
              individuals and one week for teams. This means your questions are answered sooner, and we can keep the
              process moving.</p>
          </div>
        </div>
      </div>

      <!-- Item 4-->
      <div class="col py-4 my-2 my-sm-3">
        <div
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-secondary shadow-dark rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="/assets/img/icons/mindset.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              35+ years combined experience
            </h2>
            <p class="fs-sm text-body mb-0">Our team holds 35+ years of experience across sales, recruitment, and tech.
              Our hands-on experience in sales and training teams allows us to share expertise that take your business
              further.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Compare your sales managers -->
<section class="py-5">
  <div class="container">
    <div class="pt-sm-3">
      <h2 class="h1 mb-lg-4 text-center">Compare your salespeople to 2.8 million others using sales-specific predictive
        data.</h2>
      <div class="swiper py-5 mx-n2" data-swiper-options='{
              "slidesPerView": 1,
              "pagination": {
                "el": ".swiper-pagination",
                "clickable": true
              },
              "breakpoints": {
                "500": {
                  "slidesPerView": 2,
                  "spaceBetween": 8
                },
                "650": {
                  "slidesPerView": 2,
                  "spaceBetween": 8
                },
                "900": {
                  "slidesPerView": 3,
                  "spaceBetween": 8
                },
                "1100": {
                  "slidesPerView": 4,
                  "spaceBetween": 8
                }
              }
            }'>
        <div class="swiper-wrapper">

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0  h-50 text-center p-3 mx-2">
              <div class="card-body">
                <img src="/assets/img/recruit/hunting.svg" alt="hunting icon">
                <p class="h5 mb-0 pt-4">Hunting</p>
                <h3 class="h1 display-2 mb-1">54%</h3>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0 h-100 text-center p-3 mx-2">
              <div class="card-body">
                <img src="/assets/img/recruit/consultative.svg" alt="consultative icon">
                <p class="h5 mb-0 pt-4">Consultative Selling</p>
                <h3 class="h1 display-2 mb-1">80%</h3>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0 h-100 text-center p-3 mx-2">
              <div class="card-body">
                <img src="/assets/img/recruit/value.svg" alt="Value icon">
                <p class="h5 mb-0 pt-4">Selling Value</p>
                <h3 class="h1 display-2 mb-1">91%</h3>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide h-auto py-3">
            <div class="card border-0 h-100 text-center p-3 mx-2">
              <div class="card-body">
                <img src="/assets/img/recruit/closing.svg" alt="Closing icon">
                <p class="h5 mb-0 pt-4">Closing</p>
                <h3 class="h1 display-2 mb-1">30%</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative pt-2 mt-4"></div>
      </div>
    </div>
  </div>
</section>

<!-- The Data -->
<section class="container">
  <div class="row gy-4 py-xl-3">
    <div class="col-md-6">
      <img src="/assets/img/training/image004-5.png" alt="Image" class="rounded-3">
    </div>
    <div class="col-lg-5 col-md-6 offset-lg-1 d-flex">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h2 class="h1 mb-lg-4 mb-3">Take action now with accurate data for your sales team</h2>
        <p class="mb-4 pb-lg-3 fs-lg">We know what it’s like — sales have dropped, your business is quiet, and your
          salespeople are plodding along. No strategy, no action, and no new clients.</p>
        <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
          Take Action Now
          <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Sign up CTA -->
<div class="bg-secondary rounded-3 py-5 px-3 px-md-0">
  <div class="row align-items-center">
    <div class="col-md-5 offset-lg-1 text-center text-md-start ps-md-5 ps-lg-0 ps-xl-5 pb-2 pb-md-0 mb-4 mb-md-0">
      <h2 class="h1">Discover how to build smarter,
        ROI-driven compensation strategies in our <span class="text-primary">free </span>2025 Sales Leaders
        Compensation Guide.</h2>
      <p class="lead">Drop your email below and we’ll send you the full white paper—packed with benchmarks, incentive
        frameworks, and
        ROI-ready sales comp plans.</p>
      <form class="needs-validation" novalidate="" name="whitepaper" method="POST" data-netlify="true"
        action="/success">
        <div class="input-group">
          <input type="email" id="subscr-email" class="form-control rounded-start ps-5" placeholder="Your email"
            required="">
          <i
            class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
          <div class="invalid-tooltip position-absolute top-100 start-0">Please provide a valid email address.</div>
          <button type="submit" class="btn btn-primary">Get the White Paper</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-7">
      <div class="d-table mx-auto">
        <img src="assets/img/whitepaper.png" class="" width="680" alt="Illustration">
      </div>
    </div>
  </div>
</div>

<!-- Video showreel -->
<section class="container text-center pb-5 mt-n2 mt-md-0 mb-md-2 mb-lg-4 py-5">
  <div class="position-relative rounded-3 overflow-hidden">
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
      <a href="https://www.youtube.com/embed/7v5599Izexc" class="btn btn-video btn-icon btn-xl stretched-link bg-white"
        data-bs-toggle="video" aria-label="Play video">
        <i class="bx bx-play"></i>
      </a>
    </div>
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-35"></span>
    <img src="/assets/img/recruit/lp-video-thumbnail.jpg" class="d-block w-100" alt="Cover image">
  </div>
</section>

<!-- Common sales problems we solve -->
<section class="py-5"
  style="background: linear-gradient(90deg, rgb(36, 64, 163) 0%, rgb(6, 26, 95) 100%); color: white;">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center">
      <div class="col-lg-10">
        <h2 class="h1 mb-4 text-white">Common sales problems we solve</h2>
        <p class="fs-lg">
          We use data analysis and a proven sales coaching process to transform your sales team and your business.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="mb-3 d-flex align-items-start">
            <i class='bx bx-check-circle me-2' style="color: #00eac3; font-size: 1.4rem;"></i>
            <span>Most teams haven’t had effective sales training, if any. </span>
          </li>
          <li class="mb-3 d-flex align-items-start">
            <i class='bx bx-check-circle me-2' style="color: #00eac3; font-size: 1.4rem;"></i>
            <span>Your sales team isn’t capable to win your dream clients.</span>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="mb-3 d-flex align-items-start">
            <i class='bx bx-check-circle me-2' style="color: #00eac3; font-size: 1.4rem;"></i>
            <span>Your team is caught up in reactive mode, instead of selling they’re servicing.</span>
          </li>
          <li class="mb-3 d-flex align-items-start">
            <i class='bx bx-check-circle me-2' style="color: #00eac3; font-size: 1.4rem;"></i>
            <span>Your sales manager was a strong at individual seller but hasn’t led a team.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- The stats speak for themselves -->
<section class="container my-5 py-lg-5 py-md-4 py-5">
  <div class="row justify-content-center gy-4 py-xl-3">
    <!-- IMAGE: only shows on lg and up -->
    <div class="col-md-5 order-1 d-none d-lg-block">
      <img style="max-width: 446px;" src="/assets/img/training/the-stats.jpg" alt="Image" class="rounded-3">
    </div>
    <!-- TEXT: centred on mobile/tablet, offset on desktop -->
    <div class="col-12 col-md-8 col-lg-5 offset-lg-1 d-flex order-2">
      <div class="align-self-center ps-lg-0 ps-md-4 text-center text-lg-start">
        <h2 class="h1 mb-lg-4 mb-3">The stats speak for themselves</h2>
        <p class="mb-4 pb-lg-3 fs-lg">
          We work with B2B companies all across Australia to transform your culture and build high-performing sales
          teams.
        </p>
        <p class="mb-4 pb-lg-3 fs-lg">
          <strong>65% of salespeople are in the wrong role.</strong> They’re hired based on industry experience, not
          skill or their ability to prospect and sell.
        </p>
        <p class="mb-4 pb-lg-3 fs-lg">
          Did you know that without a follow-up session or on-the-job reinforcement of what they’ve learned, salespeople
          will forget 80 to 90% of what they learned in training in a month?
        </p>
        <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
          Get in Touch
          <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Sales Journey -->
<section class="container pb-5 mb-3 mb-md-4 mb-lg-5">
  <h2 class="h1 text-center">Your Sales Trajectory Journey</h2>
  <p class="text-center pb-1 pb-sm-0 mb-4 mb-sm-5">Before we recommend training, we run a Sales DNA Evaluation. A detailed 38-page analysis of mindset, tactical skills across 21 core sales competencies. You’ll see exactly how you compare to over 2.8 million salespeople worldwide and where your biggest growth opportunities are. Valued at $1,195 + GST, this process ensures your training is targeted for maximum impact (included is a 90 min debrief on your results). 
</p>
  <div class="row align-items-lg-center">
    <div class="col-sm-6 col-lg-3">
      <div class="pe-lg-4 pe-xl-5">
        <div class="text-center text-lg-end pb-2 mb-4 mb-xl-5">
          <img src="assets/img/icons/science.svg" class="d-inline-block" width="56" alt="Sales DNA">
          <h3 class="h5 pt-1 my-2">Milestone 1</h3>
          <p class="fs-sm mb-0"> 
            Sales Evaluation, DNA ($1195 + GST). This process ensures your training is targeted for maximum impact (included is a 90 min debrief on your results).
          </p>
        </div>
        <div class="text-center text-lg-end pb-2 mb-4 mb-xl-5">
          <img src="assets/img/icons/sales-training.svg" class="d-inline-block" width="56" alt="Icon">
          <h3 class="h5 pt-1 my-2">Milestone 2</h3>
          <p class="fs-sm mb-0">Results unpack (90 minute 1:1 with you and your manager) to identify best course
            structure and other areas for improvement.</p>
        </div>
        <div class="text-center text-lg-end">
          <img src="assets/img/icons/pipeline.svg" class="d-inline-block" width="56" alt="Icon">
          <h3 class="h5 pt-1 my-2">Milestone 3</h3>
          <p class="fs-sm mb-0">Select Courses, 1-6 or special if required. Select from six high-impact courses, or we can customise to suit your team requirements.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
      <div class="ratio ratio-1x1 border rounded-circle position-relative mx-auto" style="max-width: 580px;">
        <div class="p-5">
          <img src="assets/img/icons/target.svg" class="rounded-circle" alt="Target">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="ps-lg-4 ps-xl-5">
        <div class="text-center text-lg-start pb-2 mb-4 mb-xl-5">
          <img src="assets/img/icons/action-plan.svg" class="d-inline-block" width="56" alt="Icon">
          <h3 class="h5 pt-1 my-2">Milestone 4</h3>
          <p class="fs-sm mb-0">Checkpoint Sales DNA, let’s see how your training is going and regroup. 80% of the way through, we revisit your
Sales DNA (part of our detailed process) to review your progress. You’ll compare your starting percentile to now, identify what’s working and fine-tune for even better results. Our goal is to get you into the top 20% of sales performers.</p>
        </div>
        <div class="text-center text-lg-start pb-2 mb-4 mb-xl-5">
          <img src="assets/img/icons/roi.svg" class="d-inline-block" width="56" alt="Icon">
          <h3 class="h5 pt-1 my-2">Milestone 5</h3>
          <p class="fs-sm mb-0">Select other courses if sales percentile isn’t at “growth” level.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Courses -->
<section class="container mb-5">
  <div class="d-lg-flex align-items-center justify-content-center py-4 mt-lg-2">
    <h1 class="me-3">Courses</h1>
  </div>
  <div class="d-flex justify-content-center gap-4 flex-wrap mt-n2 mt-sm-0">
    <!-- Item -->
    <div class="pb-1 pb-lg-3 mb-4" style="max-width: 350px;">
      <article class="card h-100 border-0 shadow-sm">
        <div class="position-relative">
          <img src="assets/img/marketing.jpg" class="card-img-top course-img" alt="Image">
        </div>
        <div class="card-body pb-3">
          <h3 class="h5 mb-2">
            <a href="#">Sales mindset, Relationship building, selling value</a>
          </h3>
          <p class="fs-sm mb-2">½ day course</p>
          <p class="fs-lg fw-semibold text-primary mb-0">$1,495 + GST pp per course </p>

          <ul class="list-unstyled mb-5 mt-3">
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              4 x 45min Virtual Group Sessions (weekly)
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              1 x 30min Coaching sessions with Jason Howes
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              Weekly Microlearning Videos (3-5 mins each)
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              Weekly Tasks & Reflections
            </li>
          </ul>
        </div>
        <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
          <div class="d-flex align-items-center me-4">
            <i class="bx bx-time fs-xl me-1"></i>
            Duration 1 Month
          </div>
        </div>
      </article>
    </div>
    <!-- Item -->
    <div class="pb-1 pb-lg-3 mb-4" style="max-width: 350px;">
      <article class="card h-100 border-0 shadow-sm">
        <div class="position-relative">
          <img src="assets/img/sales-team.jpg" class="card-img-top course-img" alt="Image">
        </div>
        <div class="card-body pb-3">
          <h3 class="h5 mb-2">
            <a href="#">Prospecting, consultative selling, closing</a>
          </h3>
          <p class="fs-sm mb-2">1 day course</p>
          <p class="fs-lg fw-semibold text-primary mb-0">$2,995 + GST pp per course </p>
          <ul class="list-unstyled mb-5 mt-3">
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              4 x 90 min Virtual Group Sessions (fortnightly)
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              2 x 30 min 1:1 Coaching sessions with Jason Howes
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              Weekly Microlearning Videos (3-5 mins each)
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
              Weekly Tasks & Reflections
            </li>
          </ul>
        </div>
        <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
          <div class="d-flex align-items-center me-4">
            <i class="bx bx-time fs-xl me-1"></i>
            Duration 1 Month
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- testimonial-section -->
<section class="py-5 testimonial-section">
  <div class="container">
    <div class="row align-items-center">

      <!-- Text Column -->
      <div class="col-lg-7 mb-4 mb-lg-0">
        <p class="text-uppercase fw-semibold small text-primary letter-spacing-sm mb-2">Testimonial</p>
        <h2 class="fw-bold mb-4">"Partnering with Arrow Executive Sales has truly been a game-changer for our team."
        </h2>

        <div class="border-start ps-4 border-teal">
          <p class="mb-3">"They started by helping us ‘lift the bonnet’ to assess our strengths and identify areas for
            improvement.</p>

          <p class="mb-3">The introduction of success profiles and clear role definitions gave us a solid framework to
            enhance our performance. Jason’s tailored sales training and 1:1 leadership meetings kept us focused on the
            right priorities, shifting our approach from vendor selling to consultative selling.</p>

          <p class="mb-3">This strategic pivot allowed us to target the clients that truly matter, empowering us to
            deliver a compelling value proposition with effective solutions. Ongoing coaching reinforced these
            strategies, and Jason's keen focus on prospecting enabled us to engage with the right clients more
            effectively.</p>

          <p class="mb-3">Thanks to his guidance, one team member successfully closed a significant deal that had been
            stuck in the pipeline for months. I highly recommend Jason and the Arrow Executive Sales team if you’re
            looking for real results!"</p>

          <p class="fw-bold text-dark mt-4">Leo Santini, CEO, Knotwood</p>
        </div>
      </div>

      <!-- Image Column -->
      <div class="col-lg-5 text-center">
        <img src="/assets/img/training/computer.jpg" alt="Hands on keyboard" class="img-fluid rounded-image">
      </div>
    </div>
  </div>
</section>

<!-- A proven process -->
<section class="py-5 testimonial-section">
  <div class="container">
    <div class="pb-5 pt-2 pt-sm-3 pt-lg-4 pt-xl-5">
      <h2 class="h1 mb-lg-4 text-center">A proven process to get your sales team firing again</h2>
      <p class="lead text-center">It’s not a matter of just training. We evaluate your team before we start
        coaching. So
        we know who they are, what they need, and exactly how we can make an impact. We need to reinforce these
        learnings on the job, integrate into technology to ensure they stick, though. With us, it’s all about
        transforming your sales team’s culture and performance and supporting your leaders.</p>
    </div>
    <div class="position-relative rounded-3 overflow-hidden">
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
        <a href="https://www.youtube.com/embed/XsVmliR1VU4?si=NKr8mHfEeyNM7Fr7"
          class="btn btn-video btn-icon btn-xl stretched-link bg-white" data-bs-toggle="video" aria-label="Play video">
          <i class="bx bx-play"></i>
        </a>
      </div>
      <span class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-35"></span>
      <img src="/assets/img/training/lp-video-thumbnail.jpg" class="d-block w-100" alt="Cover image">
    </div>
  </div>
</section>

<!-- Building high-performing sales teams -->
<section class="py-5"
  style="background: linear-gradient(90deg, rgb(36, 64, 163) 0%, rgb(6, 26, 95) 100%); color: white;">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center">
      <div class="col-lg-10">
        <h2 class="h1 mb-4 text-white">Building high-performing sales teams across Australia</h2>
        <p class="fs-lg">
          We support B2B businesses all over Australia to identify gaps in their sales teams and processes and drive
          performance in a way that grows and transforms their businesses. The right role and right people matter. But
          equally, a leadership team that can lift those people to drive their performance is essential.
        </p>
        <a href="#" class="btn btn-light btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
          Get in Touch
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Getting started is easy (Steps) -->
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5 py-5">
  <h2 class="h1 pb-2 pb-md-0 mb-4 mb-md-5">Getting started is easy</h2>
  <div class="steps steps-sm steps-horizontal-md pb-2 pb-sm-3">
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Chat with us</h3>
        <p class="mb-0">Fill in the form and book your chat.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Sales strategy</h3>
        <p class="mb-0">Together we develop a custom sales strategy to suit your sales team.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Sales enablement</h3>
        <p class="mb-0">Teams growth and effectiveness. </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body">
        <h3 class="h4 mb-3">Training & coaching</h3>
        <p class="mb-0">We tailor a training and coaching plan.</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="card justify-content-center bg-dark h-100 p-4 p-lg-5">
        <div class="p-2">
          <!-- <h3 class="display-4 text-primary mb-1">5 stars</h3> -->
          <h2 class="text-light pb-5 mb-2">Our clients rate us 5 stars. From 20+ Google Reviews. </h2>
          <a href="#" class="d-inline-flex align-items-center rounded-3 text-decoration-none py-3 px-4"
            style="background-color: #3e4265;">
            <div class="pe-3">
              <div class="fs-xs text-light text-uppercase opaciy-70 mb-2">Reviewed on</div>
              <img src="/assets/img/recruit/Google-Reviews-transparent.png" width="97" alt="Google">
            </div>
            <div class="ps-1">
              <div class="text-nowrap mb-2">
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
              </div>
              <div class="text-light opacity-70">20+ reviews</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card border-0 shadow-sm p-4 p-xxl-5">
        <div class="d-flex justify-content-between pb-4 mb-2">
          <span class="btn btn-icon btn-primary btn-lg shadow-primary pe-none">
            <i class="bx bxs-quote-left"></i>
          </span>
          <div class="d-flex">
            <button type="button" id="testimonials-prev" class="btn btn-prev btn-icon btn-sm me-2"
              aria-label="Previous">
              <i class="bx bx-chevron-left"></i>
            </button>
            <button type="button" id="testimonials-next" class="btn btn-next btn-icon btn-sm ms-2" aria-label="Next">
              <i class="bx bx-chevron-right"></i>
            </button>
          </div>
        </div>

        <!-- Slider -->
        <div class="swiper mx-0 mb-md-n2 mb-xxl-n3" data-swiper-options='{
                "spaceBetween": 24,
                "loop": true,
                "pagination": {
                  "el": ".swiper-pagination",
                  "clickable": true
                },
                "navigation": {
                  "prevEl": "#testimonials-prev",
                  "nextEl": "#testimonials-next"
                }
              }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <figure class="card h-100 position-relative border-0 bg-transparent">
                <blockquote class="card-body p-0 mb-0">
                  <p class="fs-lg mb-0">Jason and the team at Arrow have been great to work with.
                    The entire recruiting process was effortless on our part with Arrow taking the lead and undertaking
                    invaluable analysis of all applicants as well as initial interviewing of candidates. I have no issue
                    recommend Arrow to any businesses seeking to offer further sales training or sales recruiting. Thank
                    you Jason and the Arrow team. </p>
                </blockquote>
                <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                  <div>
                    <h6 class="fw-semibold lh-base mb-0">Brendan Frost</h6>
                  </div>
                </figcaption>
              </figure>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <figure class="card h-100 position-relative border-0 bg-transparent">
                <blockquote class="card-body p-0 mb-0">
                  <p class="fs-lg mb-0">Jason Howes and his team at Arrow Executive Sales have been instrumental in
                    enabling our business in finding that “Special” individual within a tough competitive market. The
                    Bellevue Group commenced with Arrow for all sales recruitment requirements over 2 years ago, with
                    great success and outstanding results. </p>
                </blockquote>
                <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                  <div>
                    <h6 class="fw-semibold lh-base mb-0">Grant Brown</h6>
                    <span class="fs-sm text-muted">National Sales Manager – The Bellevue Group</span>
                  </div>
                </figcaption>
              </figure>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <figure class="card h-100 position-relative border-0 bg-transparent">
                <blockquote class="card-body p-0 mb-0">
                  <p class="fs-lg mb-0">We got in touch with Arrow after having a lot of trouble finding just the right
                    fit for our sales recruitment in our business. Jason was able to find our unicorn and deliver! We
                    were very happy with Jason's professionalism and all round service approach. </p>
                </blockquote>
                <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                  <div>
                    <h6 class="fw-semibold lh-base mb-0">Lisa Collins</h6>
                    <span class="fs-sm text-muted">Operations Manager - Playscape Creations</span>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative mt-5"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container py-5 d-flex justify-content-center"
  style="background: linear-gradient(90deg, rgb(36, 64, 163) 0%, rgb(6, 26, 95) 100%); color: white;">
  <div class="col-lg-6 col-md-6">
    <div class="row align-items-center pt-1 pb-2 py-lg-4">
      <h3 class="mb-lg-4 text-light text-center">Speak with our Recruitment and Sales specialist team today</h2>
        <div id="membrainFormContainer_52cfa115-5493-4359-9303-f8ce7e74e176"></div>
    </div>
  </div>
</section>