<!-- WE’RE SALES SPECIALISTS -->
<section class="py-5">
    <div class="container">
        <div class="row align-items-center">

            <!-- Text Column -->
            <div class="col-lg-7 mb-4 mb-lg-0 order-2">
                <p class="text-uppercase fw-semibold small text-primary letter-spacing-sm mb-2">WE’RE SALES SPECIALISTS
                </p>
                <h2 class="h1 mb-4">We'll coach your team to get the most out of them.
                </h2>
                <p>Our sales specialists have been working in sales and recruitment for more than 30 years. In that
                    time, we’ve
                    met thousands of sales professionals through recruitment and training. Not only do we have the
                    skills and
                    techniques required to help your sales team drive revenue, but we work with them directly. We teach
                    your team
                    to sell value, not just price.</p>
                <div class="border-start ps-4 border-teal">
                    <p class="mb-5">"By personalising our training and sales approaches to your team members, we empower
                        them to
                        help your business close more sales.</p>
                </div>
                <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
                    Get in Touch
                    <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
                </a>
            </div>

            <!-- Image Column -->
            <div class="col-lg-5 text-center order-1">
                <img src="/assets/img/training/jason-howes.jpg" alt="Jason Howes" class="img-fluid rounded-image">
            </div>
        </div>
    </div>
</section>

<!-- Turn leads into revenue -->
<section class="py-5">
    <div class="container">
        <div class="row align-items-center">

            <!-- Text Column -->
            <div class="col-lg-7 mb-4 mb-lg-0 order-2">
                <h2 class="h1 mb-4">Turn leads into revenue &
                    salespeople into prospectors with data-backed sales training
                </h2>
                <p>By evaluating and sourcing the right data, we identify the gaps in your sales team and those pesky
                    issues.
                    Like unique processes that can throw a spanner in the works and both the positive and negative
                    impacts of
                    their personality traits. Then, with an understanding of your team, we take a personalised approach
                    to using
                    that data to train and inform your team.</p>
                <div class="border-start ps-4 border-teal">
                    <p class="mb-5">It empowers them to find and prospect leads, and turn more of those leads into real
                        revenue
                        that grows your business.</p>
                </div>
            </div>

            <!-- Image Column -->
            <div class="col-lg-5 text-center order-1">
                <img src="/assets/img/training/turn-leads-into-revenue.jpg" alt="turn-leads-into-revenue"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- We use data to get the best from your team -->
<section class="container my-5 py-lg-5 py-md-4 py-5">
    <div class="row gy-4 py-xl-3">
        <div class="col-md-6 order-2">
            <img src="/assets/img/recruit/omg-3.png" alt="Image" class="">
        </div>
        <div class="col-lg-5 col-md-6 offset-lg-1 d-flex order-1">
            <div class="align-self-center ps-lg-0 ps-md-4">
                <p class="text-uppercase fw-semibold small letter-spacing-sm mb-2">GLOBAL BEST PRACTICE</p>
                <h2 class="h1 mb-lg-4 mb-3">We use data to get the best from your team</h2>
                <p class="">We’ll assess and evaluate your team members against global best practice. It’s an
                    approach that involves understanding each salesperson’s skillset and mindset.</p>
                <p class="mb-4 pb-lg-3">This way, we can find their strengths and weaknesses and develop a coaching plan
                    that plays to their strengths while working on the most important improvements. It’s not a
                    one-size-fits-all
                    approach to training. It’s a personalised approach to training that ensures real impact.</p>
                <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
                    Get in Touch
                    <i class="bx bx-right-arrow-alt lead ms-2 me-n1"></i>
                </a>
            </div>
        </div>
    </div>
</section>