<!-- Lead Magnet -->
      <section class="py-5 bg-light">
        <div class="container py-5 my-lg-5">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h2 class="display-5 mb-4">Build Smarter, ROI-Driven Compensation Strategies</h2>
                    <p class="fs-lg  mb-4">Get our free 2025 Sales Leaders Compensation Guide. It's packed with benchmarks, incentive frameworks, and ROI-ready sales comp plans.</p>
                          <form class="needs-validation d-flex flex-column flex-sm-row gap-3" novalidate="" name="whitepaper" method="POST" data-netlify="true"
        action="/success">
                        <input type="email" placeholder="Enter your email" class="form-control form-control-lg rounded-pill" required>
                        <button type="submit" class="btn btn-primary rounded-pill flex-shrink-0">Get The Guide</button>
                    </form>
                </div>
                <div class="col-lg-6 text-center mt-5 mt-lg-0">
                    <img src="assets/img/whitepaper.png" alt="Compensation Guide" class="d-block mx-auto">
                </div>
            </div>
        </div>
      </section>