<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<style>
  .testimonial-section {
    background-color: #eef7f5 !important;
  }

  .border-teal {
    border-left: 6px solid #00eac3 !important;
  }

  .letter-spacing-sm {
    letter-spacing: .08em !important;
  }

  .rounded-image {
    border-radius: 180px 180px 180px 180px !important;
    object-fit: cover !important;
    height: 500px !important;
  }
</style>


<!-- Body -->

<body class="{{page.mode}}">
  <!-- Page loading spinner -->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div>
      <span>Loading...</span>
    </div>
  </div>

  <!-- Page wrapper for sticky footer -->
  <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
  <main class="page-wrapper zindex-5">
    {% include nav-recruit-lp.html %}

    {{ content }}

  </main>

  <!-- Footer -->
  {% include footer.html %}
  <!-- Back to top button -->
  <a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
  </a>

  {% include scripts.html %}
  <script src="https://arrowexec.membrain.com/Beacon/BeaconForm.js"></script>
  <script>MBBeaconFormCreate({ subdomain: 'arrowexec', element: document.getElementById('membrainFormContainer_52cfa115-5493-4359-9303-f8ce7e74e176'), formId: '52cfa115-5493-4359-9303-f8ce7e74e176', width: '100%', height: 'auto' });</script>
</body>

</html>