//
// user.scss
// Use this to write your custom SCSS
//

.testimonial-section {
  background-color: #eef7f5;
}

.border-teal {
  border-left: 4px solid #00eac3;
}

.letter-spacing-sm {
  letter-spacing: .08em;
}
